
<!DOCTYPE html>
<html>
   <head>
      <title>Create Account</title>
   </head>
   <body>
      <h3>Welcome {{email}}...let's get you setup:</h3>
      <form action="/update_account" method="POST">
         <input type="checkbox" id="is_admin" name="is_admin" value="off">
         <label for="is_admin"> Is admin</label><br>

         <label>Street Address</label>
         <input type="text" name="number" placeholder="No">
         <input type="text" name="street" placeholder="Street"><br>
         <label>City</label>
         <input type="text" name="city" placeholder="city.."><br>
         <label>State</label>
         <input type="text" name="state" placeholder="state.."><br>
         <label>Zip</label>
         <input type="text" name="zip" placeholder="zip.."><br>
         <button type="submit">Add</button>
      </form>
   </body>
</html>